

    @media screen and (max-width: 990px) {
      .custom_container{
        height: 680px !important;
      }
      .custom_section1{
        padding-top: 2px !important;
      }
      .form-control{
        height: 35px !important;
        font-size: 12px !important;
      }

      .btn-success{
        height: 35px !important;
        font-size: 12px !important;
        width: 90px !important;
      }
    }

    .head_of_form{
      background: #4caf50;
      font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
      color: white;
      padding: 2px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    input{
      margin-top: 25px;
    }

    .btn-success{
      width: 100px !important;
      font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    .input_fields{
      padding: 7px;
    }
    textarea{
      margin-top: 25px;
    }

    .custom_container{
      margin: 0 auto;
      background-color: white;
      border-style: none;
      border-radius: 8px;
      margin-top: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 630px;
      width: 90%;
    }
    .columns{
      padding: 25px !important;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      text-align: center;
    }

    .form-control{
      margin-top: 25px !important;
      border-radius: 20px;
      height: 50px;
      font-size: 18px;
    }
    .head{
      text-align: center;
      padding: 10px;
      padding-bottom: 0px !important;
      font-family:  Helvetica !important;
      font-weight: bold;
      font-size: 25px;
      color: #9e4eef;
    }

    .btn-success{
      width: 250px !important;
      font-family:  Helvetica !important;
      font-size: 25px;
      margin-top: 35px;
      margin-bottom: 10px;
      border-radius: 25px;
      height: 55px;
    }

    .navbar{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-style: none;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 0px !important;
      background: white;
    }


    .navbar a{
      color: #9e4eef !important;
      font-size: 15px;
    }

    .navbar-brand{
      font-size: 27px !important;
      font-weight: bold;
    }

    .navbar-toggle{
      background: black;
    }