<div class="Container">
    <section class="custom_container">
      <div class="head">Project Details</div>
      <section class="custom_section1">
        <div class="columns col-md-6 col-sm-12">
          <input type="text" class="form-control" id="project_id" placeholder="Project ID">
          <input type="text" class="form-control" id="project_title" placeholder="Project Title">
          <input type="text" class="form-control" id="project_mgr" placeholder="Project Manager">
          <input type="text" class="form-control" id="project_tech" placeholder="Technology(ies) Used">
        </div>

        <div class="columns col-md-6 col-sm-12">
          <input type="text" class="form-control" id="project_location" placeholder="Project location">
          <input type="text" class="form-control" id="project_client" placeholder="Project Client">
          <input type="text" class="form-control" id="project_employees" placeholder="Project Superviser">
          <input type="text" class="form-control" id="project_employees" placeholder="Tech Lead">
        </div>

      </section>

      <section class="custom_section1">
        <div class="columns col-md-12 col-sm-12">
        <textarea class="form-control" id="text-area" rows="5" placeholder="Project Description"></textarea>
        <button type="button" class="btn btn-success">Submit</button>
        </div>
      </section>
    </section>
  </div>