 @media screen and (max-width: 431px) {

    .form{
      width: 90% !important;
    }

    .form-control{
      height: 35px !important;
      font-size: 12px !important;
      width: 90px !important;
    }

    .btn-success{
      height: 35px !important;
      font-size: 12px !important;
      width: 90px !important;
    }

}

  .form{
    margin: 0 auto;
    width: 400px;
    background-color: white;
    border-style: none;
    border-radius: 8px;
    text-align: center;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  body{
    /*background-image: url('');*/
    background-image: url();
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  }


  .head_of_form{

    color: black;
    padding: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .btn-success{
    width: 250px;
    font-family:  Helvetica !important;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 25px;
    height: 55px;
  }
  h2{
    font-family:  Helvetica !important;
      font-weight: bold;
      font-size: 35px;
      color: #9e4eef !important;
  }

  .input_fields{
    padding: 7px;
  }

  .form-control{
    width: 250px !important;
    margin: 0 auto;
    margin-top: 25px;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid gray !important;
    height: 55px ;
    font-size: 20px;
    font-family:  Helvetica !important;
  }
  .navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px !important;
    background: white;
  }

  .navbar a{
  color: #9e4eef !important;
  font-size: 15px;
  }

  .navbar-brand{
    font-size: 27px !important;
    font-weight: bold;
  }

  .navbar-toggle{
    background: black;
  }