<section class="container">
	<section class="main">
		<mat-toolbar class="hTool">Project Name : {{theProject.pname}}
			<span class="projectProgress">
				<span>Project Progress : </span> 
				<mat-progress-bar mode="determinate" value="{{(status.complete/status.total)*100}}" style="width: 400px; height: 20px"></mat-progress-bar>
			</span>
		</mat-toolbar>
		<section class="details">
			<div class="sdate"><b>Start Date : </b> {{theProject.startdate}}</div>
			<div class="edate"><b>End Date : </b> {{theProject.enddate}}</div>
			<div class="incharge"><b>Project Incharge : </b> {{theProject.inchargename}}</div>
			<div class="contact"><b>Contact No. : </b> {{theProject.inchargecontact}}</div>
		</section>

		<section class="tasks">
			<div class="title">
				<h3><u>Tasks</u></h3>
			</div>

			<div *ngFor="let task of tasks">
				<div class="theTask" *ngIf="task.tname">
					<span class="taskName">{{task.tname}}</span>
					<span class="status">
						<button mat-raised-button *ngIf="task.progress == '0'" >Incomplete</button>
						<button mat-raised-button *ngIf="task.progress == '1'" color="primary">Completed</button>
					</span>
				</div>
			</div>
		
		</section>

		<!-- <section class="tasks">
			<div class="title">
				<h3><u>Tasks</u></h3>
			</div>
			<div class="theTask" *ngFor="let task of theProject.tasks">
				<span class="taskName">{{task.name}}</span>
				<span class="taskProgress">{{task.progress}}%<mat-progress-bar mode="determinate" value="{{task.progress}}" class="pindicator"></mat-progress-bar></span>
			</div>
		</section> -->
		<!-- <section class="images">
			<div class="title">
				<h3><u>Project Images</u></h3>
			</div>
			<section class="imageContainer">
				<div class="theImg" *ngFor="let url of theProject.pImages">
					<img src="{{url}}">
				</div>
			</section>
		</section> -->
		<section class="comments">
			<div class="title">
				<h3><u>Comments</u></h3>
			</div>
			<div class="commentContainer">
				<div class="theComment" *ngFor="let comment of comments">
					<span class="avatar" *ngIf="comment.comment"><mat-icon>perm_identity</mat-icon> <b> Master Vishal</b></span>
					<span *ngIf="comment.comment">{{comment.comment}}</span>
				</div>
			</div>
		</section>
		<section class="commentbox" *ngIf="!sending">
			<mat-form-field class="commentInput">
		    <textarea matInput placeholder="Leave a comment" #comment></textarea>
		  </mat-form-field>
		  <button mat-raised-button (click)="postComment(theProject.pid, comment.value)">Submit</button>
		</section>
		<section class="commentbox" *ngIf="sending">
			<mat-spinner></mat-spinner>
		</section>
		<br>
		<br>
		<br>
	</section>
</section>