	<div class="Container">

    <section class="custom_container">
      <div class="head">Project Details</div>
      <section class="custom_section1">
      <div class="columns col-md-6 col-sm-12">
        <input type="text" class="form-control" id="project_name" placeholder="Project Name" #name>
        <input type="text" class="form-control" id="project_mgr" placeholder="Project Incharge">
        <input type="text" class="form-control" id="project_mgr_contact" placeholder="Contact Number of Project Incharge">
    	
      </div>
      <div class="columns col-md-6 col-sm-12">
    	

      <input type="text" class="form-control" id="project_start_date" placeholder="Project Start Date">
        <input type="text" class="form-control" id="project_end_date" placeholder="Project End Date">

        <input type="text" class="form-control" id="project_task_number" placeholder="Number Of Tasks">
    	
    	
      </div>
    </section>

    <section class="custom_section1">
      <div class="columns col-md-12 col-sm-12">
      <button type="button" class="btn btn-success">Next</button>
      </div>
    </section>
    </section>
  </div>