 <div class="Container">

<section class="custom_container">
  <div class="head">Project List</div>

<section *ngFor="let project of projects"> 
  <section class="custom_section1"  *ngIf="project.pid">
    <div class="columns col-md-4 col-sm-6 col-xs-6">
      <div id="project_id"><b>Project Id : </b>{{project.pid}}</div>
    </div>
  
    <div class="columns col-md-4 col-sm-6 col-xs-6" *ngIf="project.pid">
      <div id="project_name"><b>Project Name : </b> {{project.pname}} </div>
    </div>
  
    <div class="columns col-md-4 col-sm-12 col-xs-12" *ngIf="project.pid">
      <button mat-raised-button style="margin: 0!important;" routerLink="/project/{{project.pid}}">View Details</button>
      <!-- <div id="project_progress">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        40%
        </div>
      </div>
      </div> -->
    </div>
  </section>
</section>


</section>
</div>