body{
    background-image: url("https://raw.githubusercontent.com/vishal-pandey/shubham/master/src/assets/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  }