@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-image: url("https://raw.githubusercontent.com/vishal-pandey/shubham/master/src/assets/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  }


body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
